<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Credentials | Hospi</title>

    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>

<body class="h-screen overflow-hidden bg-background text-text">

<div class="flex h-full">

    <!-- SIDEBAR -->
    <div th:replace="~{fragments/manager-sidebar :: sidebar}"></div>

    <!-- MAIN -->
    <main class="flex-1 overflow-y-auto bg-background p-6">

        <!-- CONTENT  -->
        <div th:replace="~{fragments/credential-content :: content}"></div>

    </main>

</div>

</body>
</html>