# Build output
build/
dist/
target/

# NetBeans
nbproject/private/
nbbuild/
nbdist/
nb-configuration.xml

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Compiled classes
*.class

# Logs
*.log

# OS
.DS_Store
Thumbs.db

src/main/webapp/WEB-INF/lib
src/main/webapp/assets/icons
application.properties

node_modules

.vscode
src/main/resources/static/css/app.css

docs
