<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Credentials | Hospi</title>

    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>

<body class="staff-layout">

    <!-- SIDEBAR -->
    <div th:replace="~{fragments/receptionist-sidebar :: sidebar}"></div>

    <!-- MAIN -->
    <main class="staff-page">

        <!-- CONTENT  -->
        <div th:replace="~{fragments/credential-content :: content}"></div>

    </main>

</body>
</html>
